<div class="jumbotron">
    <h1>App Prueba Conocimiento!</h1>
    <br />
    <p class="col-md-6"><a class="col-md-12 btn btn-primary btn-lg" href="/Proveedores" role="button">Proveedores</a></p>
    <p class="col-md-6"><a class="col-md-12 btn btn-success btn-lg" href="/Productos" role="button">Productos</a></p>
    <p class="col-md-6"><a class="col-md-12 btn btn-warning btn-lg" href="/Remisionentrada" role="button">Remisiones de Entrada</a></p>
    <p class="col-md-6"><a class="col-md-12 btn btn-info btn-lg" href="/almacen" role="button">Almacenes</a></p>
    <br /><br />
</div>