<h2>Proveedores</h2>
<a href="/proveedores/registrar" class="btn btn-success">Registrar</a>
<br /><br />
<table id="proveedores" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
    </thead>
</table>
<script src="~/Scripts/Proveedores/listar.js"></script>