<h2>Almacenes</h2>
<a href="/almacen/registrar" class="btn btn-success">Registrar</a>
<br /><br />
<table id="almacenes" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
</table>
<script src="~/Scripts/Almacenes/listar.js"></script>