<h2>Remisiones de Entrada</h2>
<a href="/remisionentrada/registrar" class="btn btn-success">Registrar</a>
<br /><br />
<table id="remisionesEntrada" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Fecha Documento</th>
            <th>Proveedor</th>
            <th>Almacen</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
</table>
<script src="~/Scripts/RemisionesEntrada/listar.js"></script>