<div class="jumbotron">
    <h2>Eliminar</h2>
    <br />
    <div class="alert alert-warning" role="alert">
        <form id="formeliminar">
            <p>Esta realmente seguro de eliminar el producto <label id="nombreProducto"></label> ? </p>
            <button class="btn btn-danger" type="submit">Eliminar</button>
            <a href="/productos" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
</div>
<script src="~/Scripts/Productos/eliminar.js"></script>